.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  overflow-y: auto;
  background-color: #2c3e50;
  color: white;
}

.content {
  margin-left: 240px;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s ease;
}

.sub-menu.show {
  max-height: 1000px;
}
